@use 'mixins' as m;

$footer-bg : #fff;
$footer-color: #333;
$footer-heading-color: #000;

.site-footer {
    background: $footer-bg;
    color: $footer-color;
    margin-top: m.$main-spacing;
}
.footer-wrap {
    background: rgba(111,126,13,.1);
}
.site-info {
    text-align: center;
    font-size: 16px;
    margin: 0 0 9px;
    padding: m.$main-spacing;

    span {
        display: block;
        &.hotline {
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 10px;
            margin-left: 8px;
        }
    }

    .social-footer {
        a {

            span {
                border: 1px solid m.$main-color;
                border-radius: 50%;
                color: m.$main-color;
                display: inline-block;
                font-size: 25px;
                height: 46px;
                line-height: 44px;
                transition: all .2s ease-in-out 0s;
                vertical-align: top;
                width: 46px;
            }

            &:hover {
                span {
                    background: m.$main-color;
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }
    }
}

.sidebar-footer {
    color: $footer-color;
    padding: 10px;
    a {
        color: $footer-color;

        &:visited {
            color: $footer-color;
        }

        &:hover {
            color: m.$main-color;
        }
    }

    h2, h3 {
        color: $footer-heading-color;
        font-size: 16px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 5px 0;
        }
    }
}

@media only screen and (min-width: 628px) {
    .site-info {
        display: flex;
        @include m.justify-item(space-between);
        @include m.align-items;
        
        span {
            display: inline-block;
            &.hotline {
                margin-bottom: 0;
            }
        }
    }
    .sidebar-footer {
        display: flex;
        @include m.justify-item(space-between);
        .widget {
            background:none;
            padding: 0;
            margin: 0;
            h2, h3 {
                border: none;
                font-size: 14px;
                padding: 0;
                text-align: left;
            }
        }
    }
}