@use 'mixins' as m;

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.box-home {
    background: #fff;
    box-sizing: border-box;
    padding: 10px 10px;
}
.site-boxed {
    background: #fff;
    padding: 15px;
}

.widget-area {display: none;}

#breadcrumbs {
    padding: 0 m.$main-spacing;
    margin: 10px 0;
}

.search-form {
    @include m.flex-default;
    margin: 15px 0;
}

.mobile_search {
    padding: 0;
    transition: 300ms ease-in-out;
    transform: scaleY(0);
    visibility: hidden;
    max-height: 0;
    opacity: 0;

    &.toggled {
        padding: 15px;
        transform: scaleY(1);
        visibility: visible;
        max-height: 67px;
        opacity: 1;
    }

    .searchform {
        @include m.flex-default;
        input {
            width: 100%;
        }
    }
}



.archive-list {

    > article {
        display: grid;
        grid-template-columns: 32% auto; 
        border-bottom: 1px solid #eee;
        padding: m.$main-spacing 0;
        margin: 0;
    
        .info-right {
    
            margin-left: m.$main-spacing;
    
            .entry-header>.entry-title {
                margin: 0 0 m.$main-spacing 0;
                font-size: 20px;
    
                a {color: #333;}
            }
        
            .entry-summary>p {
                display: none;
            }
        }
    }
    
    img {
        max-height: 190px;
    }
} 

.post-thumbnail.blank-thumbnail {
    width: 100%;
    height: 0;
    padding: 32.6%;
    background: #eee;
}

.wp-pagenavi {
    text-align: right;
    padding: 20px 0;
    @include m.flex-default;
    @include m.justify-item(right);
    list-style: none;

    .pages {
        display: none;
    }

    span, a {
        background-color: #fff;
        border: 1px solid #ebebeb;
        color: #656e7d;
        font-weight: bold;
        line-height: 1.2em;
        padding: 8px 12px;
        text-decoration: none;
        @include m.woo-transition;
        margin: 0;

        &.current {
            background-color: m.$main-color;
            color: #fff;
        }
    }
     
}
.related-title {
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    line-height: 23px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    position: relative;
    width: 100%;

    h2 {

        color: #2196f3;
        font-size: 1.375em;
        float: left;
        font-weight: normal;
        margin-bottom: 0;
        position: relative;
        text-transform: uppercase;

        &::before {
            background-color: #e94c6f;
            bottom: -7px;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}
@media only screen and (min-width: 628px) {
    .archive-list>article {
        .info-right {
            .entry-summary>p {
                display: block;
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: 678px) {
    .box-home {
        margin: 0 0 10px;
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    }
}

@media only screen and (min-width: 992px) {
    .wrapper.has-sidebar {
        display: grid;
        grid-template-columns: 1fr 284px;
    }
    .widget-area {display: block; background: #fff; margin-left: m.$main-spacing;}

    .widget {
        background-color: #fff;
        margin: 0 0 1.5em;
        padding: 1em;
        select {
          max-width: 100%;
        }
        h2 {font-size: 16px;}
        h3 {font-size: 15px;}
        h4 {font-size: 15px;}
        .wc-block-grid__product-title {
            color: #333;
            text-transform: uppercase;
        }
    }

    .widget h2,
    .widget h3,
    .widget h4 {
      text-align: center;
      border-top: 3px solid m.$main-color;
      padding: 5px 0;
      color: #444;
      margin: 0;
    }
}