$main-spacing: 15px;
$main-color: #6f7e0d;
$second-color: #9e7c0e;
$checkout-color: #c70000;
$color-price: #9e7c0e;

@mixin justify-item($align: center) {
    -webkit-box-pack: $align;
        -ms-flex-pack: $align;
            justify-content: $align;
}

@mixin flex-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-column {
    @include flex-default;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@mixin woo-transition {
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

@mixin button_inset {
    -webkit-box-shadow: inset 0px 0px 60px 15px rgb(0 0 0 / 15%);
            box-shadow: inset 0px 0px 60px 15px rgb(0 0 0 / 15%)
}

@mixin box-sizing($value: border-box) {
    -webkit-box-sizing: $value;
            box-sizing: $value;
}

@mixin translateX($value) {
    -webkit-transform: translateX($value);
        -ms-transform: translateX($value);
            transform: translateX($value);
}

@mixin align-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

