@use 'mixins' as m;

.right-header {


    .cart-contents.menu-item {

        @include m.flex-column;

        position: relative;
        text-align: center;
        width: 60px;
        margin-right: 5px;

        &:before {
            content: "\f174";
            font-family: 'dashicons';
            font-size: 40px;
            color: #949494;
        }
        .cart-contents-count {

            @include m.flex-default;
            @include m.justify-item();

            background-color: m.$second-color;
            border-radius: 50%;
            color: #fff;
            height: 22px;
            padding: 1px;
            font-size: 13px;
            position: absolute;
            right: 2px;
            top: 9px;
            width: 22px;
        }
    }
}

.woocommerce-breadcrumb {
    display: none;
}

.woocommerce-loop-product__title {
    color: #494949;
    font-size: 1.25em;
    line-height: 1.25em;
    min-height: 1.5em;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
    padding: 8px;
    margin: 0;
}
.onsale {
    position: absolute;
    right: 4%;
    top: 2%;
    background-color: m.$main-color;
    color: #fff;
    font-size: 11px;
    padding: 3px 5px;
}

.woocommerce {

    ul.products {

        list-style: none;
        display: grid;
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: m.$main-spacing;

        li.product {
            background: #f2f2f2;
            text-align: center;
            border: 1px solid #eee;
            position: relative;
            
            @include m.flex-column;
            @include m.justify-item(space-between);

            a.button {
                background-color: m.$main-color;
                padding: 5px 8px;
                border-radius: 5px;
                text-transform: uppercase;
                color: #fff;
                display: table;
                margin: 10px auto;
                font-weight: bold;

                @include m.woo-transition;

                &:before {
                    font-family: 'dashicons';
                    float: left;
                    content: "\f174";
                    font-weight: 300;
                    margin-right: 5px;
                }

                &:hover {
                    @include m.button_inset;
                }

            }

        }
    }
} 

.home-section {

    &.box-home {
        padding: 10px;
    }

    h2 {
        font-size: 1.125em;
        color: #444;
    }

    .woocommerce {

        ul.products {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap:5px;

            li.product {
                float: none;
                width: 100%;
                margin: 0;
                background: none;
                border: none;
            }

            li.product>a>img {
                background: #E9E9EA;
                border-radius: 50%;
                margin: 0;
                padding: 2px;
                width: 70%;
                @include m.box-sizing();
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
                @include m.woo-transition;
                transform: scale(1);
                &:hover {
                    transform: scale(1.05);
                }
            }

            li.product>a>.woocommerce-loop-category__title {
                font-size: 0.85em;
                font-weight: normal;
                color: #333;
                margin: 0;
            }
        }

    }

} 

.product-section>h2 {
    font-size: 1.375em;
    color: #222;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.product-section>h3 {
    font-size: 1.375em;
    color: #222;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.price,
.product-price {
    height: 1.8em;
    line-height: 1.8em;
    overflow: hidden;
    margin: 3px 0;
    font-weight: bold;
    color: m.$color-price;
    font-size: 15px;

    del {
        color: #949494;
        font-weight: normal;
        font-size: 0.8em;
    }

    ins {
        background: none;
    }
}

.woocommerce-ordering, 
.woocommerce-result-count {
    margin: 15px 0;
} 

.woocommerce-pagination {
    text-align: right;
    padding: 20px 0;

    ul.page-numbers {
        
        @include m.flex-default;
        @include m.justify-item(right);

        list-style: none;

        li {
            
            margin: 0 4px 0 0;

            .page-numbers {
                background-color: #fff;
                border: 1px solid #ebebeb;
                color: #656e7d;
                font-weight: bold;
                line-height: 1.2em;
                padding: 8px 12px;
                text-decoration: none;
                @include m.woo-transition;

                &.current {
                    background-color: m.$main-color;
                    color: #fff;
                }
            }
        }
    }
}

.product-quick-info {
    background-color: #fff;
    position: relative;
    margin-bottom: m.$main-spacing;
    .onsale {left: 10px; right: inherit;z-index: 99;}

    .summary {
        padding: m.$main-spacing;

        .product_title {
            font-size: 1.25em;
            background: #fff;
            margin: 0;
            padding: 0 0 10px;
            color: #50575e;
        }

        .price {
            font-size: 1.714em;
            color: m.$color-price;
            margin: m.$main-spacing 0;
        }
        form.cart {
            
            @include m.flex-default;

            gap: 2px;
            .input-text {
                width: 60px;
                padding: 5px 10px;
                border-radius: 0;
                border: 1px solid #ddd;
                @include m.box-sizing();
                @include m.woo-transition;

                &:focus {
                    outline: none;
                    border-color: m.$main-color;
                    border-radius: 0;
                }
            }
            .single_add_to_cart_button {
                border-radius: 0;
                background: #fff;
                color: m.$main-color;
                border-color: m.$main-color;
                padding: 5px m.$main-spacing;

                &:hover {
                    background: m.$main-color;
                    color: #fff;
                    box-shadow: none;
                }
            }
        }

        .buy-now {

            @include m.flex-column;

            text-align: center;
            background-color: #FA6900;
            border-radius: 4px;
            color: #fff;
            font-size: 1.143em;
            overflow: hidden;
            padding: 9px 0;
            @include m.woo-transition;
            margin-top: 10px;
            line-height: 1.2;
            @include m.box-sizing();

            &.callorder {
                background-color: #288ad6;
            }

            b {
                text-transform: uppercase;
            }

            &:hover {
                @include m.button_inset;
            }
        }
    }
}
table.variations {
    td, th {
        border: none;
        text-align: left;
    }
    a.reset_variations {
        color: #817272;
        margin: 5px 0 0 3px;
        display: block;
    }
} 
.woocommerce-variation-add-to-cart {
    display: flex;

}
.qib-button.qib-button-wrapper {
    margin: 0;
}
.sku_wrapper {
    display: none;
}
.woocommerce-product-gallery {

    width: 100%;
    position: relative;

    a.woocommerce-product-gallery__trigger {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 99;
    }

    .woocommerce-product-gallery__wrapper {
        margin: 0;
        padding: 0;
    }

    ol.flex-control-nav {

        @include m.flex-default;

        list-style: none;
        padding: 0;
        margin: 0;
        img {
            opacity: 0.5;

            &.flex-active {
                opacity: 1;
            }
        }
    }
}
.pswp__caption {display: none;}
.woocommerce-product-details__short-description {
    border-radius: 5px;
    background: #f2f2f2;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: m.$main-spacing;

    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: disc;
            margin-left: 20px;
            padding: 1px 0;
        }
    }
}

.related.products {
    background: #fff;
    padding: m.$main-spacing;
    margin: m.$main-spacing 0;
    > h2 {
        font-size: 1.375em;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 0;
    }
}
.related.products.more {
    margin-bottom: 0;
} 

.woocommerce-tabs.wc-tabs-wrapper {

    background: #fff;
    padding: m.$main-spacing;

    ul.tabs.wc-tabs {
        display: none;
    }
}
.cart-page {
    
    .entry-title {
        margin: 0;
        padding: m.$main-spacing;
        font-size: 20px;
        font-weight: normal;
    }
    .entry-content {
        margin: 0;
    }

}
.shop_table.cart {
    border-collapse: unset;
    thead {
        display: none;
    }
    td, th {
        border: none;
        font-weight: normal;
    }

    .product-thumbnail {
        width: 90px;
        padding: 0 0 0 5px;
    }
    .product-price {
        display: none;
    }
    .input-text {
        width: 60px;
    }
    .remove {
        color: gray;
        font-weight: bold;
    }
    a {
        color: #333;
    }
    .button {
        margin-top: 10px;
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 3px;
        display: block;
        line-height: 25px;
    }
}

tr.woocommerce-cart-form__cart-item {
    background: #fff;
    position: relative;
    padding: 5px;
    border-bottom: 10px solid #eee;
    display: grid;
    grid-template:  
            'product-thumbnail product-name product-name'
            'product-thumbnail product-quantity product-subtotal';
    grid-template-columns: 90px 1fr 120px;

    .product-thumbnail {
        grid-area: product-thumbnail;
        width: 90px;
        padding-right: 18px;
        
        a img {display: flex;}
    }

    .product-name {
        grid-area: product-name;
        padding-right: 18px;
    }

    .product-subtotal {
        grid-area: product-subtotal;
        margin: auto;
        font-weight: bold;
    }

    .product-quantity {
        grid-area: product-quantity;
        padding: 0;

        .qib-button.qib-button-wrapper {
            margin: 0;
            display: flex;
        }

        .qib-button-wrapper button.qib-button {
            padding: 0 0 5px;
            height: 30px;
            width: 30px;
            border: none;
            color: #aaa;
            font-size: 30px;
        }

        div.quantity.wqpmb_quantity {
            height: 30px;
        }

        .qib-button-wrapper .quantity input.input-text.qty.text {
            padding: 0;
            height: 30px;
            width: 40px;
        }

    }

    td.product-remove {
        position: absolute;
        color: gray;
        right: 5px;
        padding: 8px;
        border: 1px solid gray;
        display: flex;
        width: 15px;
        height: 15px;
        @include m.justify-item();
        align-items: center;
        border-radius: 3px;
        top: 5px;
    }
} 
.variation {

    display: flex;
    margin: 0;
    align-items: center;
    gap: 8px;
    color: #aaa;
    font-size: .9em;

    dd, dt, p {
        margin: 0;
    }

}

.cart-collaterals {
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-top: 3px solid m.$main-color;
    margin-bottom: 10px;
    background: #fff;

    .cart_totals h2 {
        border-bottom: 1px solid #e5e5e5;
        margin: 0;
        padding: 0 10px 10px;
        font-size: 16px;
    }

}
#order_review_heading {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    font-size: 16px;
}

.shop_custom_table {

    font-size: 14px;

    th {
        border: none;
        text-align: left;
        font-weight: normal;
    }

    td {
        border: none;
        text-align: right;
        padding: 10px;
    }

    .order-total {

        border-top: 1px solid #e5e5e5;

        .woocommerce-Price-amount {
            color: m.$color-price;
        }
    }
} 

.woocommerce-checkout-review-order-table {

    thead {
        background: none;
        border-bottom: 2px solid #e5e5e5;
    }

    .product-name {
        text-align: left;
    }

    border-bottom: 2px solid #e5e5e5;

}

.woocommerce-table--order-details {
    thead {
        .woocommerce-table__product-table {text-align: right;}
    }

    tbody {
        .woocommerce-table__product-name {text-align: left;}
    }
}

.order_review-section {
    padding: 10px;
    border-top: 3px solid #956f00;
    margin-bottom: 10px;
    background: #fff;
}
.wc_payment_methods {
    list-style: none;

    .wc_payment_method {
        .payment_box {
            background: #eee;
            padding: 15px;
            margin: 10px 0;
            border-radius: 8px;

            p {margin: 0;}
        }
    }

}
.wc-proceed-to-checkout {
    .checkout-button {
        display: block;
        background: #c70000;
        padding: 10px;
        text-align: center;
        color: #fff;
        font-size: 1.143em;
        border-radius: 3px;
        text-transform: uppercase;
        @include m.woo-transition;
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;

        &:hover {
            @include m.button_inset;
        }
    }
}

#place_order {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    text-transform: uppercase;
}

.woocommerce-notices-wrapper {
    background: #fff;
    padding-top: 1px ;
    .woocommerce-message {

        @include m.flex-default;

        margin: m.$main-spacing;
        padding: m.$main-spacing;
        position: relative;
        border-color: #8BAF5B;
        background-color: #E0F1B5;
        color: #4F5F39;
        border-left: 3px solid m.$main-color;
        border-radius: 8px;
        gap: 20px;
    }
}

.woocommerce-billing-fields__field-wrapper {
    p { 
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {width: 100%}
    }

}
.woocommerce form .form-row .required {text-decoration: none;}
#order_comments_field {
    label {
        margin-bottom: 5px;
        display: block
    }
}


@media only screen and (min-width: 628px) {

    .cart-contents.menu-item {
        margin-top: -5px;
        &:before {
            height: 50px;
        }
        &:after {
            content: "Giỏ hàng";
            display: inline-block;
            clear: both;
        }
    }

    .woocommerce-breadcrumb {
        padding: 9px m.$main-spacing;
        display: block;
    }
    .home-section {

        .woocommerce {

            ul.products {

                grid-template-columns: repeat(8, 1fr);

                li.product>a>img {width: 50%;}

                li.product>a>.woocommerce-loop-category__title {
                    font-size: 1em;
                }
            }
        }

    }
    .product-quick-info {
        
        @include m.flex-default;

        padding: m.$main-spacing;
        > div {
            width:50%;
        }

        .summary {
            .product_title {
                border-bottom: 1px solid #e5e5e5;
                font-size: 1.5em;
            }
        }

    }

    .cart-page-grid,
    .checkout-page .woocommerce-checkout {
        display: grid;
        grid-template-columns: 1fr 320px;
        gap: m.$main-spacing;
    }

    .shop_table {
        thead {
            display: table-row-group;
            background-color: #f7f7f7;
            white-space: nowrap;
            .product-price {
                color: #222;
            }
        }
        .product-price {
            display: table-cell;
        }
    }

    h1.woocommerce-products-header__title.page-title {
        font-size: 1.429em;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1.3;
    }

}

@media only screen and (min-width: 768px) {

    .cart-page {
        background: #fff;
        padding: 0 15px;
    }

    .shop_table.cart thead {
        display: block;
    }
    .woocommerce-cart-form__contents thead tr {
        display: grid;
        grid-template: "product-remove product-thumbnail product-name product-price product-quantity product-subtotal";
        grid-template-columns: 0 90px 3fr 1fr 1fr 1fr;

        .product-name {
            text-align: left;
        }
        .product-price {
            margin: 0;
            line-height: 20px;
            font-size: 14px;
        }
    }

    tr.woocommerce-cart-form__cart-item {
        border-bottom-width: 1px;
        grid-template: 'product-thumbnail product-name  product-price product-quantity product-subtotal';
        grid-template-columns: 90px 3fr 1fr 1fr 1fr;

        .product-name {
            margin: auto 0;
        }

        .product-price {
            grid-area: product-price;
            margin: auto;
        }

        .product-quantity {
            margin: auto;
        }
    }

    .shop_table.cart .product-price {display: block;}

    .woocommerce {

        ul.products {
            &.columns-3 {
                grid-template-columns: repeat(3, 1fr);
            }
            &.columns-4 {
                grid-template-columns: repeat(4, 1fr);
            }
            &.columns-5 {
                grid-template-columns: repeat(5, 1fr);
            }
            &.columns-6 {
                grid-template-columns: repeat(6, 1fr);
            }
            &.columns-7 {
                grid-template-columns: repeat(7, 1fr);
            }
            &.columns-8 {
                grid-template-columns: repeat(8, 1fr);
            }
        }

    }  

    .onsale {
        right: 4%;
        top: 4%;
        font-size: 15px;
        padding: 3px 5px;
    }

/*     .woocommerce.columns-3 ul.products li.product {
        width: 32.66%;
    }
    .woocommerce.columns-4 ul.products li.product {
        width: 24.25%;
    }
    .woocommerce.columns-5 ul.products li.product {
        width: 19%;
    } */

}