/* .home-section .woocommerce ul.products li.product {
    width: 12.5%;
    margin: 0;
    text-align: center;
} */

.woocommerce-loop-product__title {
    color: #494949;
    font-size: 1.25em;
    line-height: 1.25em;
    min-height: 1.5em;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
}

.woocommerce ul.products, 
.woocommerce-page ul.products {
    list-style: none;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    background: #f2f2f2;
}

.home-section h2 {
    font-size: 1.125em;
    color: #444;
}
.home-section .woocommerce ul.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.home-section .woocommerce ul.products::after, .home-section .woocommerce ul.products::before {
    content: none;
}

.home-section .woocommerce ul.products li.product {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
}
.home-section .woocommerce ul.products li.product>a>img {
    background: #E9E9EA;
    width: 60%;
    border-radius: 50%;
    margin: 0 auto 4px;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}
.home-section .woocommerce ul.products li.product>a>.woocommerce-loop-category__title {
    font-size: 0.75em;
    font-weight: normal;
    color: #333;
}

@media only screen and (min-width: 628px) {
    .home-section .woocommerce ul.products {
        grid-template-columns: repeat(8, 1fr);
    }
    .home-section .woocommerce ul.products li.product>a>.woocommerce-loop-category__title {
        font-size: 1.125em;
    }

}