@use 'mixins' as m;

.right-header {


    .cart-contents.menu-item {

        @include m.flex-column;

        position: relative;
        text-align: center;
        width: 60px;
        margin-right: 5px;

        &:before {
            content: "\f174";
            font-family: 'dashicons';
            font-size: 40px;
            color: #949494;
        }
        .cart-contents-count {

            @include m.flex-default;
            @include m.justify-item();

            background-color: #ff9d06;
            border-radius: 50%;
            color: #fff;
            height: 25px;
            padding: 3px;
            font-size: 13px;
            position: absolute;
            right: 2px;
            top: 15px;
            width: 25px;
        }
    }
}

.woocommerce-breadcrumb {
    display: none;
}

.woocommerce-loop-product__title {
    color: #494949;
    font-size: 1.25em;
    line-height: 1.25em;
    min-height: 1.5em;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
    padding: m.$main-spacing/2;
    margin: 0;
}
.onsale {
    position: absolute;
    right: 4%;
    top: 2%;
    background-color: m.$main-color;
    color: #fff;
    font-size: 11px;
    padding: 3px 5px;
}

.woocommerce {

    ul.products {

        list-style: none;
        display: grid;
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: m.$main-spacing;

        li.product {
            background: #f2f2f2;
            text-align: center;
            border: 1px solid #eee;
            position: relative;
            
            @include m.flex-column;
            @include m.justify-item(space-between);

            a.button {
                background-color: m.$main-color;
                padding: 5px 8px;
                border-radius: 5px;
                text-transform: uppercase;
                color: #fff;
                display: table;
                margin: 10px auto;
                font-weight: bold;

                @include m.woo-transition;

                &:before {
                    font-family: 'dashicons';
                    float: left;
                    content: "\f174";
                    font-weight: 300;
                    margin-right: 5px;
                }

                &:hover {
                    @include m.button_inset();
                }

            }

        }
    }
} 

.home-section {

    &.box-home {
        padding: 10px;
    }

    h2 {
        font-size: 1.125em;
        color: #444;
    }

    .woocommerce {

        ul.products {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap:5px;

            li.product {
                float: none;
                width: 100%;
                margin: 0;
                background: none;
                border: none;
            }

            li.product>a>img {
                background: #E9E9EA;
                border-radius: 50%;
                margin: 0;
                padding: 2px;
                width: 90%;
                @include m.box-sizing();
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
                @include m.woo-transition;
                transform: scale(1);
                &:hover {
                    transform: scale(1.05);
                }
            }

            li.product>a>.woocommerce-loop-category__title {
                font-size: 0.85em;
                font-weight: normal;
                color: #333;
                margin: 0;
            }
        }

    }

} 

.product-section>h2 {
    font-size: 1.375em;
    color: #222;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.product-section>h3 {
    font-size: 1.375em;
    color: #222;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.price,
.product-price {
    height: 1.8em;
    line-height: 1.8em;
    overflow: hidden;
    margin: 3px 0;
    font-weight: bold;
    color: m.$color-price;
    font-size: 15px;

    del {
        color: #949494;
        font-weight: normal;
        font-size: 0.8em;
    }

    ins {
        background: none;
    }
}

.woocommerce-ordering, 
.woocommerce-result-count {
    margin: 15px 0;
} 

.woocommerce-pagination {
    text-align: right;
    padding: 20px 0;

    ul.page-numbers {
        
        @include m.flex-default;
        @include m.justify-item(right);

        list-style: none;

        li {
            
            margin: 0 4px 0 0;

            .page-numbers {
                background-color: #fff;
                border: 1px solid #ebebeb;
                color: #656e7d;
                font-weight: bold;
                line-height: 1.2em;
                padding: 8px 12px;
                text-decoration: none;
                @include m.woo-transition;

                &.current {
                    background-color: m.$main-color;
                    color: #fff;
                }
            }
        }
    }
}

.product-quick-info {
    background-color: #fff;
    position: relative;
    .onsale {left: 10px; right: inherit;z-index: 99;}

    .summary {
        padding: m.$main-spacing;

        .product_title {
            font-size: 1.25em;
            background: #fff;
            margin: 0;
            padding: 0 0 10px;
            color: #50575e;
        }

        .price {
            font-size: 1.714em;
            color: m.$color-price;
        }
        form.cart {
            
            @include m.flex-default;

            gap: 2px;
            .input-text {
                width: 60px;
                padding: 5px 10px;
                border-radius: 0;
                border: 1px solid #ddd;
                @include m.box-sizing();
                @include m.woo-transition;

                &:focus {
                    outline: none;
                    border-color: m.$main-color;
                    border-radius: 0;
                }
            }
            .single_add_to_cart_button {
                border-radius: 0;
                background: #fff;
                color: m.$main-color;
                border-color: m.$main-color;
                padding: 5px m.$main-spacing;

                &:hover {
                    background: m.$main-color;
                    color: #fff;
                    box-shadow: none;
                }
            }
        }

        .buy-now {

            @include m.flex-column;

            text-align: center;
            background-color: #FA6900;
            border-radius: 4px;
            color: #fff;
            font-size: 1.143em;
            overflow: hidden;
            padding: 9px 0;
            @include m.woo-transition;
            margin-top: 10px;
            line-height: 1.2;
            @include m.box-sizing();

            &.callorder {
                background-color: #288ad6;
            }

            b {
                text-transform: uppercase;
            }

            &:hover {
                @include m.button_inset();
            }
        }
    }
}
.woocommerce-product-gallery {

    width: 100%;
    position: relative;

    a.woocommerce-product-gallery__trigger {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 99;
    }

    .woocommerce-product-gallery__wrapper {
        margin: 0;
        padding: 0;
    }

    ol.flex-control-nav {

        @include m.flex-default;

        list-style: none;
        padding: 0;
        margin: 0;
        img {
            opacity: 0.5;

            &.flex-active {
                opacity: 1;
            }
        }
    }
}

.woocommerce-product-details__short-description {
    border-radius: 5px;
    background: #f2f2f2;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 15px;

    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: disc;
            margin-left: 20px;
            padding: 1px 0;
        }
    }
}

.related.products {
    background: #fff;
    padding: m.$main-spacing;
    margin: m.$main-spacing 0;
    > h2 {
        font-size: 1.375em;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 0;
    }
}

.woocommerce-tabs.wc-tabs-wrapper {

    background: #fff;
    padding: m.$main-spacing;

    ul.tabs.wc-tabs {
        display: none;
    }
}
.cart-page {
    
    .entry-title {
        margin: 0;
        padding: m.$main-spacing;
        font-size: 20px;
        font-weight: normal;
    }
    .entry-content {
        margin: 0;
    }

}
.shop_table.cart {
    border-collapse: unset;
    thead {
        display: none;
    }
    td, th {
        border: none;
        padding: 15px 5px;
        font-weight: normal;
    }
    tr.woocommerce-cart-form__cart-item {
        background: #fff;
        position: relative;
        padding: 5px;
        border-bottom: 10px solid #eee;
        display: block;

        td.product-remove {
            position: absolute;
            color: gray;
            right: 5px;
            padding: 8px;
            border: 1px solid gray;
            display: flex;
            width: 15px;
            height: 15px;
            @include m.justify-item();
            align-items: center;
            border-radius: 3px;
            top: 5px;
        }
    } 
    .product-thumbnail {
        width: 90px;
        padding: 0 0 0 5px;
    }
    .product-price {
        display: none;
    }
    .input-text {
        width: 60px;
    }
    .remove {
        color: gray;
        font-weight: bold;
    }
}

.cart_totals {
    .shop_table {
        th {
            text-align: right;
        }
        td {
            padding: 10px;
        }
    }
    .order-total {
        .woocommerce-Price-amount {
            color: m.$color-price;
        }
    }
}

.cart-collaterals {
    background: #fff;
    padding: m.$main-spacing;
}

.wc-proceed-to-checkout {
    .checkout-button {
        display: block;
        background: #c70000;
        padding: 10px;
        text-align: center;
        color: #fff;
        font-size: 1.143em;
        border-radius: 3px;
        text-transform: uppercase;
        @include m.woo-transition;
        font-weight: 500;
        line-height: 30px;
        cursor: pointer;

        &:hover {
            @include m.button_inset(0.3);
        }
    }
}

.woocommerce-notices-wrapper {
    background: #fff;
    padding-top: 1px ;
    .woocommerce-message {

        @include m.flex-default;

        margin: 15px;
        padding: m.$main-spacing;
        position: relative;
        border-color: #8BAF5B;
        background-color: #E0F1B5;
        color: #4F5F39;
        border-left: 3px solid m.$main-color;
        border-radius: 8px;
        gap: 20px;
    }
}

@media only screen and (min-width: 628px) {

    .cart-contents.menu-item {
        margin-top: -5px;
        &:before {
            height: 50px;
        }
        &:after {
            content: "Giỏ hàng";
            display: inline-block;
            clear: both;
        }
    }

    .woocommerce-breadcrumb {
        padding: 9px m.$main-spacing;
        display: block;
    }
    .home-section {

        .woocommerce {

            ul.products {

                grid-template-columns: repeat(8, 1fr);

                li.product>a>img {width: 50%;}

                li.product>a>.woocommerce-loop-category__title {
                    font-size: 1em;
                }
            }
        }

    }
    .product-quick-info {
        
        @include m.flex-default;

        padding: m.$main-spacing;
        > div {
            width:50%;
        }

        .summary {
            .product_title {
                border-bottom: 1px solid #e5e5e5;
                font-size: 1.5em;
            }
        }

    }

    .cart-page-grid {
        display: grid;
        grid-template-columns: 1fr 320px;
        gap: m.$main-spacing;
    }

    .shop_table {
        thead {
            display: table-row-group;
            background-color: #f7f7f7;
            white-space: nowrap;
            .product-price {
                color: #222;
            }
        }
        .product-price {
            display: table-cell;
        }
    }

    h1.woocommerce-products-header__title.page-title {
        font-size: 1.429em;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1.3;
    }

}

@media only screen and (min-width: 768px) {

    .woocommerce {

        ul.products {
            &.columns-3 {
                grid-template-columns: repeat(3, 1fr);
            }
            &.columns-4 {
                grid-template-columns: repeat(4, 1fr);
            }
            &.columns-5 {
                grid-template-columns: repeat(5, 1fr);
            }
            &.columns-6 {
                grid-template-columns: repeat(6, 1fr);
            }
            &.columns-7 {
                grid-template-columns: repeat(7, 1fr);
            }
            &.columns-8 {
                grid-template-columns: repeat(8, 1fr);
            }
        }

    }  

    .onsale {
        right: 4%;
        top: 4%;
        font-size: 15px;
        padding: 3px 5px;
    }

/*     .woocommerce.columns-3 ul.products li.product {
        width: 32.66%;
    }
    .woocommerce.columns-4 ul.products li.product {
        width: 24.25%;
    }
    .woocommerce.columns-5 ul.products li.product {
        width: 19%;
    } */

}